* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana, sans-serif;
}
/*color collection*/
:root {
  --topNavBg: #f5f5f5;
  --topNavCol: #333333;
  --heading: #333333;
  --pink: rgb(255, 42, 69);
  --offerGradient: linear-gradient(
    to right,
    rgb(255, 120, 95),
    rgb(255, 42, 69),
    rgb(161, 67, 190)
  );
  --subscribeBtn: #ff2945;
}
/*top nav*/
.topBar {
  display: flex;
  flex-direction: row;
  background-color: var(--topNavBg);
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}
/* .topBar .text{
    width: 0%;
    background-color: yellowgreen;
    /* display: flex;
    flex-direction: row; 
}*/
/*top bar*/
.topBar p {
  font-size: 12px;
  line-height: 25px;
  color: var(--topNavCol);
}
/*contains logo, nav*/
header {
  height: 65px;
  display: flex;
  justify-content: row;
  align-items: center;
  justify-content: space-around;
}
/*logo img*/
header img {
  width: 180px;
  height: 30px;
}
nav {
  width: 70%;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  list-style-type: none;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: var(--pink);
}
/*offer*/
.offer {
  height: 38px;
  background-image: var(--offerGradient);
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section img {
  height: 500px;
  width: 100%;
}
/*subscribe row*/
.subscribe {
  height: 126px;
  background-image: url("images/join-bg402x.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subscribe .form {
  height: 43px;
  width: 847px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/*subscribe row text*/
.subscribe .text {
  height: 64px;
  width: 300px;
  display: flex;
  flex-direction: column;

  align-items: center;
  color: white;
}
.subscribe h1 {
  font-size: 26px;
  font-weight: 900;
  line-height: 20px;
  margin-bottom: 0.5em;
}
.subscribe p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.subscribe input {
  height: 43px;
  width: 180px;
  color: white;
  font-weight: 400;
  line-height: 17px;
  font-size: 12px;
  background-color: black;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input:hover {
  height: 43px;
  width: 180px;
  color: white;
  font-weight: 400;
  line-height: 17px;
  font-size: 12px;
  background-color: black;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--pink);
}
.subscribe button {
  height: 43px;
  width: 180px;
  background-color: var(--subscribeBtn);
  color: white;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.about {
  height: 170px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.aboutContentRow img {
  height: 80px;
  width: 80px;
  margin-right: 1em;
}
.hr {
  width: 80%;
  border-bottom: 1px solid var(--pink);
}
.Verhr {
  border-left: 1px solid var(--pink);
  height: 80px;
}
.aboutCol {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
}
.aboutCol h1 {
  font-size: 22px;
  line-height: 31px;
  font-weight: 900;
}
.aboutCol p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.aboutCol a {
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
.aboutContentRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aboutRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.events {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.events h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  color: var(--heading);
}
.events input {
  width: 480px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid var(--pink);
  border-top: none;
  border-left: none;
  border-right: none;
  letter-spacing: 3px;
  margin-top: 2em;
}
.events .imgRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
}
.imgRow img {
  height: 225px;
  width: 225px;
}
