*{
    margin: 0;
    padding: 0;
    font-family:Helvetica, Verdana, sans-serif;
}
:root{
    --topNavBg: #F5F5F5;
    --topNavCol: #333333;
}
/*top nav*/
.topBar{
    display: flex;
    flex-direction: row;
    background-color: var(--topNavBg);
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
.topBar .text{
    width: 0%;
    background-color: yellowgreen;
    /* display: flex;
    flex-direction: row; */
}
p{
    width: 15%;
    background-color: yellowgreen;
    font-size: 12px;
    line-height: 25px;
    color: var(--topNavCol);
    /* background-color: crimson; */
    
}
.social{

}
