* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana, sans-serif;
}
:root {
  --topNavBg: #f5f5f5;
  --topNavCol: #333333;
  --navHoverCol: rgb(255, 42, 69);
  --offerGradient: linear-gradient(
    to right,
    rgb(255, 120, 95),
    rgb(255, 42, 69),
    rgb(161, 67, 190)
  );
}
/*top nav*/
.topBar {
  display: flex;
  flex-direction: row;
  background-color: var(--topNavBg);
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}
/* .topBar .text{
    width: 0%;
    background-color: yellowgreen;
    /* display: flex;
    flex-direction: row; 
}*/
p {
  font-size: 12px;
  line-height: 25px;
  color: var(--topNavCol);
}
header {
  height: 65px;
  display: flex;
  justify-content: row;
  align-items: center;
  justify-content: space-around;
}
header img {
  width: 180px;
  height: 30px;
}
nav {
  width: 70%;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  list-style-type: none;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: var(--navHoverCol);
}
.offer {
  height: 38px;
  background-image: var(--offerGradient);
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
